@{
    ViewData["Title"] = "Master Data User";
    Layout = "_LayoutBorrower";
}


<h2>Loan History</h2>
<table class="table table-striped" id="loanHistoryTable">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Interest Rate</th>
            <th>Duration</th>
            <th>Funded At</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


<script src="~/js/borrower.js"></script>